<div class="row">
    {{#each allGuilds}}
    {{#if isAdmin}}
    <div class="col-md-3">
        <a href="/dashboard/{{guild.id}}" class="text-decoration-none">
            <div class="card mb-3 text-light" id="cardColor">
                <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.webp" alt="server icon"
                    class="mb-2 overflow-hidden" width="150" height="150">
                <div class="card-body">
                    <h4 class="text-decoration-none">
                        {{guild.name}}
                    </h4>
                    <p class="text-decoration-none">{{guild.id}}</p>
                </div>
                </img>
            </div>
        </a>
    </div>
    {{else}}
    {{/if}}
    {{/each}}
</div>